 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
     


  <div class="container" >
    
    <h3>Buscar Empleado</h3>
 <input type="text" #textId placeholder="Escriba un Id" autofocus> 

 <button (click)="getUser(textId.value)" class="btn btn-primary" >Buscar </button>
 
 <hr>
  </div>




    <div class="container" *ngIf="user">
        <div class="row">
          <div id="htmlData">
            <h2>Datos Empleado</h2>
            <table class="table table-bordered mt-4">
              <tr class="table-primary">
                <th>id</th>
                <th>Nombre</th>
                <th>usuario</th>
                
              </tr>
              <tr>
                <td> {{ user?.id }}</td>
                <td> {{ user?.name }}</td>
                <td> {{ user?.username }}</td>
            </tr>
             
            </table>

 

          </div>

          <div *ngIf="user">
            <button class="btn btn-success btn-block " (click)="downloadPDF()">Descargar PDF</button>
          </div>

        </div>
      </div>
      
      

  











 </body>
 </html>
















